<?xml version='1.0' encoding='utf-8'?>
<widget id="com.markpoint.demopush" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Demopush</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <preference name="android-minSdkVersion" value="23" />
    <preference name="android-targetSdkVersion" value="26" />
    <preference name="android-compileSdkVersion" value="26" />
    <plugin name="cordova-plugin-firebase" spec="2.0.5" />
    <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json" />
    </platform>
    <content src="index.html" />
    <access origin="*" />
</widget>
